body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAE3D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.main-container {
    text-align: center;
}

#logo {
    max-width: 200px;
    margin-bottom: 20px;
}

h1 {
    color: #3B3561;
}

#pack-select {
    margin: 20px 0;
    padding: 10px;
    font-size: 1.2em;
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
}

.button-blue {
    background-color: #00539C;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #FFC8A2;
}

footer a {
    color: #3B3561;
    text-decoration: none;
}
label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="email"] {
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 20px;
    margin-bottom: 20px;
}
.form-note {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 20px;
}
.loading-spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 3px solid #ccc;
    border-radius: 50%;
    border-top-color: #00539C;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .content-container {
    position: relative;
}

.instructions-button {
    position: absolute;
    top: 10px;  /* adjust as needed */
    right: 10px; /* adjust as needed */
    display: inline-block;
    padding: 10px 20px;
    background-color: #E40066;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: center;
    transition: background-color 0.3s ease;
}

.instructions-button:hover {
    background-color: #C2005D;
}


