body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAE3D9;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #FFC8A2;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    padding: 1px;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    border: 1px solid #E40066;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: #3B3561;
    background-color: #FFF0F6;
    cursor: pointer;
    transition: all 0.3s ease;
}


.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
}

.button-red {
    background-color: #E40066;
    color: white;
}

.button-black {
    background-color: #3B3561;
    color: white;
}

.button-blue {
    background-color: #00539C;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1px;
    background-color: #FFC8A2;
}

footer a {
    color: #3B3561;
    text-decoration: none;
}
.first-player {
    text-align: center;
    font-size: 2em;
    color: #3B3561;
    margin-bottom: 20px;
}

/* modal */
/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FFE3D8;
    margin: 15% auto;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    width: 50%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: #F57C00;
    border-bottom: 2px solid #F57C00;
}

.modal-body {
    padding: 20px 16px;
}

.modal-footer {
    padding: 2px 16px;
    color: #F57C00;
    border-top: 2px solid #F57C00;
    display: flex;  /* new */
    justify-content: center;  /* new */
    align-items: center;  /* new */
}

#qrcode {
    margin-top: 20px;
    margin-bottom: 20px;
}

#shareButton {
    background-color: #F57C00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-align: center;
}

#shareButton:hover {
    background-color: #FFA474;
    color: white;
}

.button {
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
}

.button-blue {
    background-color: #F57C00;
    color: white;
}

/* Status Container */
.status-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 800px;   /* Same as .grid-container */
    margin: 0 auto;     /* Center the status-container */
    padding: 20px;      /* Same as .grid-container */
    box-sizing: border-box; /* include padding and border in total width and height */
}

#redCountDisplay, #blueCountDisplay {
    text-align: center;
}

#redCount, #blueCount {
    font-size: 2em;
    display: block;
}

#redCount {
    color: #be1200;
}

#blueCount {
    color: #0000be;
}

/*timer*/

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#startTimerButton {
    background: transparent;
    border: none;
}

#timer {
    font-size: 2em;
    position: relative;
    overflow: hidden;
}
#timer.running::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #be1200;
    animation: underline 2s linear infinite;
}

@keyframes underline {
    0%,100% { transform: translateX(-100%); }
    50% { transform: translateX(100%); }
}

#startTimerButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #FFC8A2;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #E40066;
    cursor: pointer;
    transition: all 0.3s ease;
}

#startTimerButton:hover {
    transform: translateY(-3px);
    background-color: #FFC8A2;
}

/* Languege button */
#language-button {
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.3s ease;
  }
  
  #language-button:hover {
    transform: scale(1.1);
  }

  .share-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#shareButton, #qrcodeButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    background-color: #FFC8A2;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #E40066;
    cursor: pointer;
    transition: all 0.3s ease;
}

#shareButton:hover, #qrcodeButton:hover {
    transform: translateY(-3px);
    background-color: #FFB089;
}

#qrcode {
    display: none;
    margin: 10px auto;
    width: 128px;
    height: 128px;
}

#qrcode.visible {
    display: block;
}
